#root { }

/* Animations */

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.bg {
  position: fixed;
  top: -50%;
  left: -50%;
  right: -50%;
  bottom: -50%;
  width: 200%;
  height: 200vh;
  background: transparent url('./assets/static-noise.png') repeat 0 0;
  background-repeat: repeat;
  animation: bg-animation .5s infinite;
  opacity: .1;
  visibility: visible;
  pointer-events: none;
  z-index: 100;
}

@keyframes bg-animation {
  0% { transform: translate(0,0) }
  10% { transform: translate(-5%,-5%) }
  20% { transform: translate(-10%,5%) }
  30% { transform: translate(5%,-10%) }
  40% { transform: translate(-5%,15%) }
  50% { transform: translate(-10%,5%) }
  60% { transform: translate(15%,0) }
  70% { transform: translate(0,10%) }
  80% { transform: translate(-15%,0) }
  90% { transform: translate(10%,5%) }
  100% { transform: translate(5%,0) }
}

html {
  scroll-behavior: smooth;
}

body {
  z-index: 10;
}

.navbar-menu {
  animation: fadeIn 1.2s ease-in-out;
}

.gallery-item {
  animation: fadeIn 1.5s ease-in-out;
}
