#root {
  --cursor-color: rgba(238, 130, 238, 1);
  --red: rgb(239, 72, 72);
  --blue: rgb(124, 151, 239);
  --background-color: rgb(221, 221, 221);
  background-color: var(--background-color);
}

/* Animations */

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.bg {
  position: fixed;
  top: -50%;
  left: -50%;
  right: -50%;
  bottom: -50%;
  width: 200%;
  height: 200vh;
  /* background: transparent url('/static-noise.png') repeat 0 0; */
  background-repeat: repeat;
  animation: bg-animation .5s infinite;
  opacity: .1;
  visibility: visible;
  pointer-events: none;
  z-index: 501;
}

.gallery-preview-text {
  animation: fadeIn 1s ease;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 500;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--background-color);
}

@keyframes bg-animation {
  0% { transform: translate(0,0) }
  10% { transform: translate(-5%,-5%) }
  20% { transform: translate(-10%,5%) }
  30% { transform: translate(5%,-10%) }
  40% { transform: translate(-5%,15%) }
  50% { transform: translate(-10%,5%) }
  60% { transform: translate(15%,0) }
  70% { transform: translate(0,10%) }
  80% { transform: translate(-15%,0) }
  90% { transform: translate(10%,5%) }
  100% { transform: translate(5%,0) }
}

@keyframes pulse {
	0% {
    width: 400px;
    height: 400px;
    opacity: 40%;
	}

	70% {
    width: 600px;
    height: 600px;
    opacity: 20%;
	}

	100% {
    width: 400px;
    height: 400px;
    opacity: 40%;
	}
}

@keyframes pulse-btn {
	0% {
    opacity: 1;
	}

	50% {
    opacity: 0.5;
	}

	100% {
    opacity: 1;
	}
}

.fade-load {
  animation: fadeIn ease 3s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

html {
  scroll-behavior: smooth;
}

body {
  z-index: 10;
}

#footer {
  background-color: var(--background-color);
}

#cursor-glow {
  z-index: 0;
  background: radial-gradient(circle at 50% 50%, var(--cursor-color) 0%, rgba(0, 188, 212, 0) 50%);
  width: 500px;
  height: 500px;
  border-radius: 100%;
  position: fixed;
  pointer-events: none;
  transform: translate(-50%, -50%);
  opacity: 100%;
  animation: pulse 6s infinite;
}

.navbar-menu {
  animation: fadeIn 1.2s ease-in-out;
}

.gallery-item {
  animation: fadeIn 1.2s ease-in-out;
}

::-moz-selection {
  color: limegreen;
}
::selection {
  background-color: limegreen;
  color: limegreen;
}
::-moz-selection {
  background-color: limegreen;
  color: limegreen;
}
::-o-selection {
  background-color: limegreen;
  color: limegreen;
}
::-ms-selection {
  background-color: limegreen;
  color: limegreen;
}
::-webkit-selection {
  background-color: limegreen;
  color: limegreen;
}

.filter-white {
  filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(216deg) brightness(102%) contrast(101%);
}
