:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-image: url("brown-striped-paper-texture.png");/* Image by <a href="https://www.freepik.com/free-photo/brown-striped-paper-texture_2007999.htm#query=texture%20corduroy&position=4&from_view=keyword&track=ais&uuid=7495fd47-9bd0-4d58-aa27-acbd866f5d43">Freepik</a> */
  font-synthesis: none;
  background-repeat:no-repeat;
  background-size: 100% 100vh;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


#info-box {
  position: fixed;
  background-color: gray;
  color: black;
  z-index: 1000;
  width: 150px;
  text-align: left;
  padding: 5px;
}
